textarea {
    color: black;
}

button {
    border-radius: 5px;
    padding: 2%;
    border: none;
        background-color: green;
    color: white;
}

button:active {
    background-color: #4aaaa5;
    color: black;
}

div.container {
    width: 100%;
    text-align: center;
    display: inline-block;
}

div.card {
    margin: auto;
    width: 30%;
    height: 250px;
    background-color: #dddedc;
    color: black;
}

.input {
    margin: 25px 0 25px 0;
    width: 50%;
}